DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=taskmanager
DB_SSLMODE=disable

SERVER_PORT=8080

SMS_KEY=
SMS_API_KEY=
SENDER_ID=
DEFAULT_SMS_SENDER_ID=
SMS_BASE_URL=https://api.mnotify.com/api/sms/quick